
.App {
    background:#070006;
    color: #FFF;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.background {
    background-color: hsla(120, 60%, 70%, 0.3);
}

.table { background-color: #bde9ba; }



    
